body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-bg {
    background: url('../assets/images/bg-bby1.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.auth-overlay {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
}

.card {
    border-radius: 15px;
    border: none;
    background: #ffffffdd;
    backdrop-filter: blur(5px);
}

.btn-primary {
    background-color: #0033cc;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #001f99;
}
